PORT=3002
DB_HOST=127.0.0.1
DB_USER=upcycle_user
DB_PASS=upcycle_pass
DB_NAME=upcycle_products
JWT_SECRET=your_super_secret_key_ganti_ini
GCP_PROJECT_ID=your-gcp-project-id
FIREBASE_SERVICE_ACCOUNT={"type":"service_account",...}
